
CREATE DATABASE [MedicalSystemDB]
GO

USE [MedicalSystemDB]
GO

-- TABLAS
CREATE TABLE [dbo].[Patients] (
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [FirstName] [nvarchar](100) NOT NULL,
    [LastName] [nvarchar](100) NOT NULL,
    [BirthDate] [date] NOT NULL,
    [Gender] [nvarchar](20) NOT NULL,
    [Address] [nvarchar](200) NOT NULL,
    [Phone] [nvarchar](20) NOT NULL,
    [Email] [nvarchar](100) NOT NULL,
    [CreatedAt] [datetime] DEFAULT GETDATE(),
    [UpdatedAt] [datetime] NULL,
    CONSTRAINT [PK_Patients] PRIMARY KEY ([Id])
);
GO

CREATE TABLE [dbo].[Appointments] (
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [PatientId] [int] NOT NULL,
    [DoctorName] [nvarchar](100) NOT NULL,
    [AppointmentDate] [datetime] NOT NULL,
    [Status] [int] NOT NULL,
    [Reason] [nvarchar](500) NOT NULL,
    [Diagnosis] [nvarchar](500) NULL,
    [Treatment] [nvarchar](500) NULL,
    [CreatedAt] [datetime] DEFAULT GETDATE(),
    [UpdatedAt] [datetime] NULL,
    CONSTRAINT [PK_Appointments] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Appointments_Patients] FOREIGN KEY ([PatientId]) REFERENCES [dbo].[Patients] ([Id])
);
GO

-- PROCEDIMIENTOS ALMACENADOS (PACIENTES)
CREATE PROCEDURE [dbo].[usp_Patient_GetAll]
AS
BEGIN
    SELECT Id, FirstName, LastName, BirthDate, Gender, Address, Phone, Email FROM Patients;
END;
GO

CREATE PROCEDURE [dbo].[usp_Patient_GetById]
    @Id INT
AS
BEGIN
    SELECT Id, FirstName, LastName, BirthDate, Gender, Address, Phone, Email FROM Patients WHERE Id = @Id;
END;
GO

CREATE PROCEDURE [dbo].[usp_Patient_Insert]
    @FirstName NVARCHAR(100), 
    @LastName NVARCHAR(100), 
    @BirthDate DATE, 
    @Gender NVARCHAR(20), 
    @Address NVARCHAR(200), 
    @Phone NVARCHAR(20), 
    @Email NVARCHAR(100)
AS
BEGIN
    INSERT INTO Patients (FirstName, LastName, BirthDate, Gender, Address, Phone, Email)
    VALUES (@FirstName, @LastName, @BirthDate, @Gender, @Address, @Phone, @Email);
    SELECT SCOPE_IDENTITY();
END;
GO

CREATE PROCEDURE [dbo].[usp_Patient_Update]
    @Id INT, 
    @FirstName NVARCHAR(100), 
    @LastName NVARCHAR(100), 
    @BirthDate DATE, 
    @Gender NVARCHAR(20), 
    @Address NVARCHAR(200), 
    @Phone NVARCHAR(20), 
    @Email NVARCHAR(100)
AS
BEGIN
    UPDATE Patients SET FirstName = @FirstName, LastName = @LastName, BirthDate = @BirthDate, Gender = @Gender, Address = @Address, Phone = @Phone, Email = @Email, UpdatedAt = GETDATE()
    WHERE Id = @Id;
END;
GO

CREATE PROCEDURE [dbo].[usp_Patient_Delete]
    @Id INT
AS
BEGIN
    DELETE FROM Patients WHERE Id = @Id;
END;
GO

CREATE PROCEDURE [dbo].[usp_Patient_Search]
    @Term NVARCHAR(100)
AS
BEGIN
    SELECT Id, FirstName, LastName, BirthDate, Gender, Address, Phone, Email 
    FROM Patients 
    WHERE FirstName LIKE '%' + @Term + '%' 
       OR LastName LIKE '%' + @Term + '%' 
       OR Gender LIKE '%' + @Term + '%' 
       OR Phone LIKE '%' + @Term + '%';
END;
GO

-- PROCEDIMIENTOS ALMACENADOS (CITAS)
CREATE PROCEDURE [dbo].[usp_Appointment_GetAll]
AS
BEGIN
    SELECT c.Id, c.PatientId, c.DoctorName, c.AppointmentDate, 
           c.Status, c.Reason, c.Diagnosis, c.Treatment,
           p.Id, p.FirstName, p.LastName
    FROM Appointments c
    INNER JOIN Patients p ON c.PatientId = p.Id;
END;
GO

CREATE PROCEDURE [dbo].[usp_Appointment_Insert]
    @PatientId INT, 
    @DoctorName NVARCHAR(100), 
    @AppointmentDate DATETIME, 
    @Status INT, 
    @Reason NVARCHAR(500), 
    @Diagnosis NVARCHAR(500) = NULL, 
    @Treatment NVARCHAR(500) = NULL
AS
BEGIN
    INSERT INTO Appointments (PatientId, DoctorName, AppointmentDate, Status, Reason, Diagnosis, Treatment)
    VALUES (@PatientId, @DoctorName, @AppointmentDate, @Status, @Reason, @Diagnosis, @Treatment);
    SELECT SCOPE_IDENTITY();
END;
GO

CREATE PROCEDURE [dbo].[usp_Appointment_UpdateFull]
    @Id INT, 
    @PatientId INT, 
    @DoctorName NVARCHAR(100), 
    @AppointmentDate DATETIME, 
    @Status INT, 
    @Reason NVARCHAR(500)
AS
BEGIN
    UPDATE Appointments SET PatientId = @PatientId, DoctorName = @DoctorName, AppointmentDate = @AppointmentDate, Status = @Status, Reason = @Reason, UpdatedAt = GETDATE()
    WHERE Id = @Id;
END;
GO

CREATE PROCEDURE [dbo].[usp_Appointment_Attend]
    @Id INT, 
    @Diagnosis NVARCHAR(500), 
    @Treatment NVARCHAR(500), 
    @Status INT
AS
BEGIN
    UPDATE Appointments SET Diagnosis = @Diagnosis, Treatment = @Treatment, Status = @Status, UpdatedAt = GETDATE()
    WHERE Id = @Id;
END;
GO

CREATE PROCEDURE [dbo].[usp_Appointment_CheckAvailability]
    @DoctorName NVARCHAR(100), 
    @AppointmentDate DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    SELECT COUNT(*) 
    FROM Appointments 
    WHERE DoctorName = @DoctorName 
      AND Status != 3
      AND AppointmentDate > DATEADD(MINUTE, -30, @AppointmentDate)
      AND AppointmentDate < DATEADD(MINUTE, 30, @AppointmentDate);
END;
GO

CREATE PROCEDURE [dbo].[usp_Appointment_Delete]
    @Id INT
AS
BEGIN
    UPDATE Appointments SET Status = 4 WHERE Id = @Id;
END;
GO